.card {
  font-family: "Roboto", sans-serif;
  /* background-color: whitesmoke; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
}
.card .formInp form {
  background-color: whitesmoke;
  padding: 40px;
  border-radius: 10px;
  margin: 5px;
  width: 600px;
}
form h2 {
  color: #f28500;
  text-align: center;
}
form .input {
  margin: 10px;
}
form p {
  text-align: center;
}
.formInp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.input > input {
  padding: 13px;
  margin: 10px 0px;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  border: 1px solid lightgray;
  font-size: 23px;
  width: 93%;
}
.input > label {
  font-size: 25px;
  color: gray;
  padding: 5px;
}
form button {
  width: 100%;
  height: 50px;
  padding: 10px;
  border: none;
  background-color: #0076ff;
  color: white;
  border-radius: 5px;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
  margin-top: 15px;
  margin-bottom: 30px;
}
.gender-input > label {
  display: flex;
  font-size: 25px;
  color: gray;
  padding: 5px;
}
